<html>
 
<head>
    <title>C.R.U.D</title>
    <style>
        table {
            margin-left: 550px;
            margin-top: 150px;
            column-width: 20px;
            font-size: 20px;
            border: 5px solid black;
            padding: 5px;
        }
 
        thead {
            padding: 10px;
        }
 
        tbody {
            padding: 10px;
        }
    </style>
</head>
 
<body>
    <div class="container">
        <table border="5px solid #000;">
            <tbody>
 
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
 
                </thead>
            <tbody>
                {% for i in form %}
                <tr>
                    <td style="padding:10px;">{{i.name}}</td>
                    <td style="padding:10px;">{{i.age}}</td>
                    <td style="padding:10px;">{{i.address}}</td>
                    <td style="padding:10px;"><a href="{% url 'update1' id=i.id %}">Update</a></td>
                    <td style="padding:10px;"><a href="{% url 'delete1' id=i.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
        <p style="margin-left:550px;"><a href="{% url 'create_data' %}">Home</a></p>
    </div>
</body>
 
</html